<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      Question: ...
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Answer 1: ...</p>
      <p>Answer 2: ...</p>
    </div>
  </div>
</div>

<%= render partial: "/shared/whiteboard_panel" %>
<%= render partial: "/shared/document_panel" %>
