<div id="game_over_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header" style="background:orange">
        <center><h1 class="modal-title">Game Over</h1></center>
      </div>
      <div class="modal-body">
        <center>
          <h4 id="report_line_1"></h4>
          <h4 id="report_line_2"></h4>
          <h4 id="report_line_3"></h4>
        </center>
      </div>
      <div class="modal-footer">
        <center>
          <button id="game_over_leave_button" type="button" class="btn btn-warning btn-lg">
            Leave
          </button>
        </center>
      </div>
    </div>

  </div>
</div>
