<div id="game_over_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Game Over</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button id="game_over_leave_button" type="button" class="btn btn-default">Leave</button>
      </div>
    </div>

  </div>
</div>
