<div id="vote_to_quit_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header" style="background:#C9391A">
        <h2 class="modal-title" style="color:white"> Vote to end the game</h2>
      </div>
      <div class="modal-body">
        <p>Someone thinks that the guesser has already learned all the information in the document. Do you agree?</p>
      </div>
      <div class="modal-footer">
        <center>
          <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">No</button>
        </center>
      </div>
    </div>

  </div>
</div>
