<div class="container" id="whiteboard" style="cursor:pointer">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2> Most recent round </h2>
      <div id="wb_head_refresh"><%= render partial: "shared/whiteboard_head" %></div>
      <center>
        <h2> less recent rounds </h2>
        <h6 style="color:blue" id="wb_instruction">tap or hover to expand</h6>
      </center>
    </div>
    <div class="panel-body">
      <div id="whiteboard_body" hidden>
        <%= render partial: "/shared/whiteboard_tail"%>
      </div>
    </div>
  </div>
</div>
