<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><a href="https://github.com/Orbif0ld/iccg-team-purple">Source</a></li>
        <li><a href="https://www.aaai.org/ojs/index.php/aimagazine/article/view/2649">ICCG paper</a></li>
        <li><a><%= link_to "Contact", contact_path %></a></li>
      </ul>
    </nav>
  </div>
</footer>
